{% extends "base.html" %}

{% block content %}

  <main id="content" class="content" role="main">
  		{% verbatim %}
        <section class="widget">
            <header>
                  <h4>
                       ANALISIS DE 
                      <small>DESTINO DE RIESGO</small>
                  </h4>
                        <div class="widget-controls">
                            <a href="#" title="Expand" data-widgster="expand" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="#" title="Collapse" data-widgster="collapse"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" title="Close" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
            </header>

         <div class="widget-body">
            <label>Buscar: <input ng-model="searchText"> </label>
              <div ng-controller="riskcabLists" class="table-responsive">
               <table class="table table-hover" >
                <thead>
                <tr>
                    <td style="font-size: 0.70em;"><strong>Destino de Riesgo</strong></td>
                    <td style="font-size: 0.70em;"><strong>Avg</strong></td>
                    <td style="font-size: 0.70em;"><strong>Tráfico Día</strong></td>
                    <td style="font-size: 0.70em;"><strong>Ratio Umbral</strong></td>
                    <td style="font-size: 0.70em;"><strong>Trafico Ayer</strong></td>
                    <td style="font-size: 0.70em;"><strong>Ratio Ayer</strong></td>
                    <td style="font-size: 0.70em;"><strong>Promo. Dias Anterior</strong></td>
                    <td style="font-size: 0.70em;"><strong>Ratio Dias Anterior</strong></td>
                    <td style="font-size: 0.70em;"><strong>Promo Dias Similares</strong></td>
                    <td style="font-size: 0.70em;"><strong>Ratio  Dias Similares</strong></td>
                    <td style="font-size: 0.70em;"><strong>Desv. Dias Anterior</strong></td>
                    <td style="font-size: 0.70em;"><strong>Ind. Desv Dias</strong></td>
                    <td style="font-size: 0.70em;"><strong>Desv. Dias Similares</strong></td>
                    <td style="font-size: 0.70em;"><strong>Desv. Desv. Similares</strong></td>
                    </tr>
                  </thead>

                                   <tbody>
                      <tr ng-repeat="names in names  | filter:searchText">         
                      <td class="col-md-5">{{ names.Cod_dato }}</td>
                      <td class="col-md-5">{{ names. Ind_avg_xdp_minutos  }} </td>
                      <td class="col-md-5">{{ names.Dia_minutos}}</td>
                      <td class="col-md-5">{{ names.Ind_umb_minutos }}</td>

                      <td class="col-md-5">{{ names.Avg_xda_minutos }}</td>
                      <td class="col-md-5">{{ names.Ind_avg_xda_minutos }}</td>

                      <td class="col-md-5">{{ names.Avg_xdp_minutos }}</td>
                      <td class="col-md-5">{{ names.Ind_avg_xdp_minutos }}</td>

                      <td class="col-md-5">{{ names.Dst_xda_minutos}}</td>
                      <td class="col-md-5">{{ names.Ind_dst_xda_minutos }}</td>

                      <td class="col-md-5">{{ names.Dst_xdp_minutos}}</td>
                      <td class="col-md-5">{{ names.Ind_dst_xdp_minutos}}</td>

                      <td class="col-md-5">{{ names.Dst_xdp_minutos}}</td>
                      <td class="col-md-5">{{ names.Ind_dst_xdp_minutos}}</td>
       
                      <td class="col-md-5"><button ng-click="update(paises.id)" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Ver Detalle</button></td>
                  </td>
                 </tr>

                </tbody> 
<!--hola -->

                 <tbody>  

             
              </table>
               </div>
              </div> 
              </section>

            <div class="col-md-12">
                <div class="tabbable tabs-left mb-lg">
                    <ul id="tabs2" class="nav nav-tabs">
                        <li class=""><a href="#tab12" data-toggle="tab">Evolución 15 días</a></li>
                        <li class="active"><a href="#tab22" data-toggle="tab">Evolución 24 horas</a></li>
                        <li class=""><a href="#tab32"  data-toggle="tab">Works</a></li>
                    </ul>
                    <div id="tabs2c" class="tab-content">
                        <div class="tab-pane" id="tab12">
                            <p>
                              HTML considera que los párrafos son bloques de texto. Los navegadores hacen lo posible para adaptar el contenido de los párrafos a la ventana, a menos que los atributos NOWRAP o NOBR estén explícitamente especificados.
                              Dentro de un párrafo, todos los espacios, tabuladores y saltos de línea cuentan como un espacio simple.                             

                              Para colocar textos en bloques, se utiliza el par de etiquetas <p> y </p>. Esta etiqueta puede incluir cualquiera de los atributos mencionados anteriormente.                             

                              Los saltos de línea (saltar de una línea a la siguiente) se crean usando la etiqueta <br/>.                             

                              La etiqueta <hr> se utiliza para insertar una línea horizontal. 
                            </p>
                        </div>
                        <div class="tab-pane active" id="tab22">
                            <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
                                point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore ipsum.</p>
                            <div class="clearfix">
                                <div class="btn-toolbar">
                                    <a class="btn btn-danger" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                                    <a class="btn btn-default" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab32">
                            <p> If you will think too much it will sink in the swamp of never implemented plans and
                                ideas or will just go away or will be implemented by someone else.</p>
                            <p><strong>5 months of doing everything to achieve nothing.</strong></p>
                            <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
                        </div>
                    </div>
                </div>
            </div>
   			

 </main>
 {% endverbatim %}

{% endblock %}  