<!-- {% extends "base.html" %}<!-- -->
<!-- -->

<!-- {% block content %}<!-- -->

<!--   <main id="content" class="content" role="main"><!-- -->
<!-- -->

<!--  </main>-->
<!-- {% endblock %}  -->


<html>
	<head>
      <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"  rel="stylesheet">

       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> 

	<script type="text/javascript">
	  var app = angular.module('app',[]);

	 	app.controller('paisesList', function($scope, $http) {
		  $http.get("/fraude/mantenimiento/fraudePais/")
		  .success(function (data) {
		  	$scope.names = data;
		  });
		});

		app.controller('pais', ['$scope', '$http', function($scope, $http) {

        $scope.new = function() {
              console.log( $scope);
        // Hacemos un POST a la API para dar de alta nuestro nuevo ToDo
            $http.post("/fraude/mantenimiento/fraudePais/", $scope.paises).success(function(data) {
                 // Si nos devuelve un OK la API...
                 console.log( $scope.paises);
                    $scope.paises = {}; // Limpiamos el scope
                  //   getTodos(); Actualizamos la lista de ToDo'
               
            });
        }
       
        $scope.delete = function(id) {
      // Hacemos una petición DELETE a la API para borrar el id que nos pase el html por parametro
            $http.delete("/fraude/mantenimiento/fraudePais/" + id +"/").success(function(response) {
             	if(response.status === "OK") { // Si la API nos devuelve un OK...
                  getTodos(); // Actualizamos la lista de ToDo's
                }
            });
        }

        $scope.update = function(todo) {
            todo.id = todo._id; // Pasamos la _id a id para mayor comodidad del lado del servidor a manejar el dato.
            delete todo._id; // Lo borramos para evitar posibles intentos de modificación de un ID en la base de datos
            // Hacemos una petición PUT para hacer el update a un documento de la base de datos.
            $http.put("/fraude/mantenimiento/fraudePais/", todo).success(function(response) {
                if(response.status === "OK") {
                    getTodos(); // Actualizamos la lista de ToDo's
                }
            });
        }
        $scope.list = function(todo) {
                getTodos(); //Listar
        }  
        // Creamos una función para obtener los datos de la base de datos y actualizarlos cada que sea necesario.
        var get= function() {
            $http.get("/fraude/mantenimiento/fraudePais/").success(function(response) {
                if(response.status == "OK") {
                    $scope.todos = response.data;
                }
            })
        }
       // getTodos();  Obtenemos la lista de ToDo al cargar la página
    }]);


	  </script>
		
	</head>
	<body>

	<table>
		<thead>
			
		</thead>
		<tbody>
			
               <div ng-controller="paisesList">
               <table class="table table-hover" >
                <thead>
                <tr>
                    <td><strong>Items</strong></td>
                    <td><strong>Codigo</strong></td>
                    <td><strong>Descripción</strong></td>
                    <td><strong>Discado</strong></td>
                    <td><strong>Observación</strong></td>
                    <td><strong>Flg</strong></td>
                    <td><strong>Estado</strong></td>
                  </tr>
                  </thead>
                 <tbody>
                      <tr ng-repeat="names in list">         
                      <td  class="col-md-5">{{ $index + 1 }}</td>
                      <td class="col-md-5">{{ names.Codigo }}</td>
                      <td class="col-md-5">{{ names.Descripcion }}</td>
                      <td class="col-md-5">{{ names.Discado }}</td>
                      <td class="col-md-5">{{ names.Observacion }}</td>
                      <td class="col-md-5">{{ names.Flg }}</td>
                      <td class="col-md-5"><button ng-click="update(paises.id)" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> </button></td>
                      <td class="col-md-5"><button type="button" ng-click="delete(paises.id)"class="btn btn-danger"><i class=" glyphicon glyphicon-remove"></i> </button> </td>
                  </td>
                 </tr>

                </tbody>               
              </table>
               </div>
		</tbody>
	</table>
		
	</body>
</html>
