
        <div class="navbar">
        <!-- navbar content -->
             <div id="page-header"></div>

             <div id="page-logo-header">
                    <div class="row">
           
                        <div class="col-md-2 col-md-offset-2">
                            <a href="http://web.unjfsc.edu.pe/site/">
                                <img alt="UNJFSC" src="http://www.strategos.ocaacu.com/img/logo-unjfsc.png">
                            </a>
                        </div>
                        <div class="col-md-8">                            
                            <a href="http://www.ocaacu.com">
                                <img alt="OCAACU" src="http://www.strategos.ocaacu.com/img/logo-ocaacu.png">
                            </a>                            
                        </div>                     
                    </div>
                </div>
                  <div id="header-border-div"></div>                 
             </div>
            
        </div>