  {% extends "base_page.html" %}

    {% block title %} GESTRALDI-LATAM {% endblock %}     
        
     {% block extra_head %}   
    
      {%load staticfiles %}       


       <!-- Temas opcionales -->
        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"  rel="stylesheet">
        <link href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}"  rel="stylesheet">
        <!-- common libraries. required for ev'%}"ry page-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- CSS-->
        <link href="{% static 'css/application.min.css' %}"  rel="stylesheet">        
        


        <!--Librerias externas-->
         
        <script src="{% static 'jquery/dist/jquery.min.js'%}"></script>
        <script src="{% static 'jquery-pjax/jquery.pjax.js'%}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/transition.js'%}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/collapse.js'%}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/dropdown.js'%}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/button.js'%}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/tooltip.js'%}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/alert.js'%}"></script>
        <script src="{% static 'slimScroll/jquery.slimscroll.min.js'%}"></script>
        <script src="{% static 'widgster/widgster.js'%}"></script>
        <script src="{% static 'pace.js/pace.min.js'%}"></script>
        <script src="{% static 'jquery-touchswipe/jquery.touchSwipe.js'%}"></script>
        <script src="{% static 'jquery-touchswipe/jquery.touchSwipe.js'%}"></script>


        <!-- javascript delicacion -->
        <script src="{% static 'js/settings.js'%}"></script>
        <script src="{% static 'js/app.js'%}"></script>
        <script src="{% static 'app/app.js'%}"></script>     




        <!-- librerías especificas -->
        <!--<script id="test" src="{% static 'underscore/underscore.js'%}"></script> -->
        <!--<script src="{% static 'jquery.sparkline/index.js'%}"></script> -->
        <!--<script src="{% static 'jquery.sparkline/index.js'%}"></script> -->
        <!--<script src="{% static 'd3/d3.min.js'%}"></script> -->
        <!--<script src="{% static 'raphael/raphael-min.js'%}"></script> -->
        <script src="{% static 'jQuery-Mapael/js/jquery.mapael.js'%}"></script> 
        <!--<script src="{% static 'jQuery-Mapael/js/maps/usa_states.js'%}"></script> -->
        <!--<script src="{% static 'jQuery-Mapael/js/maps/world_countries.js'%}"></script> -->
        <!--<script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/popover.js'%}"></script> -->
        <!--<script src="{% static 'bootstrap_calendar/bootstrap_calendar/js/bootstrap_calendar.min.js'%}"></script> -->
      
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap/tab.js'%}"></script>    

        <script src="{% static 'jquery-animateNumber/jquery.animateNumber.min.js'%}"></script>         
        
        <!-- page specific js -->
        <script src="{% static 'js/index.js'%}"></script>

        <!-- highchart librerias-->
        <script src="http://code.highcharts.com/maps/highmaps.js"></script>
        <script src="http://code.highcharts.com/maps/modules/data.js"></script>
        <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
        <script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
        <!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
        <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
        <!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE  -->
        <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
      {% endblock %}
      {% block body_block %}
      <!-- Agrupar los enlaces de navegación, los formularios y cualquierotro elemento que se pueda ocultar al minimizar la barra -->
      <!-- -->
      <nav id="sidebar" class="sidebar" role="navigation">
       {% include "sidebar.html" %}
      </nav>  
     <nav class="page-controls navbar navbar-default">
      {% include "topbar.html" %}
      </nav>
      <div class="chat-sidebar" id="chat">  
      </div>
      <div class="content-wrap">
        {% block content %}  {% endblock %} 
      </div>  
      <!-- The Loader. Is shown when pjax happens -->
      <div class="loader-wrap hiding hide">
           <i class="fa fa-circle-o-notch fa-spin-fast"></i>
      </div>
      {% endblock  %}

