
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href="index.html">GESTRALDI-LATAM</a>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <img class="img-circle" src="" alt="...">
                </span>
                <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
                     should be used with bg-* and text-* classes for colors -->
                <span class="circle bg-warning fw-bold text-gray-dark">
                    13
                </span>
                &nbsp;
                Pepe <strong>Pepe</strong>
                <b class="caret"></b>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <!-- main notification links are placed inside of .sidebar-nav -->
        <ul class="sidebar-nav">
            <li class="active">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    Principal
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-dashboard" class="collapse in">
                    <li class="active"><a href=" /fraude/home/">Fraudes</a></li>
                    <li><a href="widgets.html">Widgets</a></li>
                </ul>
            </li>
            <li>
               <a href="fraude/crud/servicios/">
                    <span class="icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    Bandeja de Entrada
                    <span class="label label-danger">
                        9
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </span>
                    Estadisticas
                </a>
            </li>
        </ul>
        <!-- every .sidebar-nav may have a title -->
      <h5 class="sidebar-nav-title">Componentes <a class="action-link" href="#"><i class="glyphicon glyphicon-refresh"></i></a></h5>
        <ul class="sidebar-nav">
            <li>
                <a class="collapsed" href="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-folder-open"></i>
                    </span>
                    Modulo Base
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-levels" class="collapse">
                    <li><a href="#">Control de Carga</a></li>
                    <li><a href="#">Analisis de Rechazo</a></li>
                    <li><a href="#">Prueba</a></li>
                </ul>
            </li>
            <li>
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-hand-o-up"></i>
                    </span>
                    Reportes
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-forms" class="collapse">
                    <li><a href="/fraude/report/analizador/">Analizador Online</a></li>
                    <li><a href="/fraude/report/telefonoOrigenDestino/">Reporte de Telefonos Origen y Destino</a></li>
                    <li><a href="/fraude/report/detalleLlamadas/">Detalle de Llamadas</a></li>
                    <li><a href="/fraude/report/traficoAnomalo/">Tráfico Anómalo</a></li>
                    <li><a href="/fraude/report/vistaComercial/">Vista Comercial</a></li>
                </ul>
            </li>
            <li>
                <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-tree-conifer"></i>
                    </span>
                    Mantenimientos
                    <i class="toggle fa fa-angle-down"></i>
                </a>
         
                <ul id="sidebar-ui" class="collapse">
                    <li><a href="/fraude/mantenimiento/paises/">Paises</a></li>
                    <li><a href="/fraude/mantenimiento/servicios/">Servicios</a></li>
                    <li><a href="http://10.224.20.50:8080/fraude/mantenimiento/central/">Centrales</a></li>
                    <li><a href="http://10.224.20.50:8080/fraude/mantenimiento/ruta/">Ruta</a></li>                    
                    <li><a href="http://10.224.20.50:8080/fraude/mantenimiento/serviciosEspeciales/">Servicios Especiales</a></li>
                    <li><a href="http://10.24.23.50:8080/fraude/mantenimiento/carrier/">Carrier</a></li>

                </ul>
            </li>
            <li> 
                <!-- an exASDample of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed" href="#sidebar-tables" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-th-large"></i>
                    </span>
                      Configuracion
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-tables" class="collapse">
                    <li><a href="">Riesgos</a></li>
                    <li><a href="">Destinos de Riesgos</a></li>
                    <li><a href="">Umbrales</a></li>
                    <li><a href="">Listas</a></li>
                </ul>
            </li>
            <li>
                <a class="collapsed" href="#sidebar-extra" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-leaf"></i>
                    </span>
                    Opciones
                    <i class="toggle fa fa-angle-down"></i>
                </a>              
                <ul id="sidebar-extra" class="collapse">
                    <li><a href="">Contraseña</a></li>
                    <li><a href="" target="_blank" data-no-pjax> Page</a></li>
                    <li><a href="" target="_blank" data-no-pjax>Error Page</a></li>
                    <li><a href="">Consultas</a></li>
                    <li><a href=""></a></li>
                    <li><a href="" data-no-pjax>Time Line</a></li>
                </ul>
            </li>

        </ul>
        <h5 class="sidebar-nav-title">Semáforo <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
        <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
        <ul class="sidebar-labels">
            <li>
                <a href="#">
                    <!-- yep, .circle again -->
                    <i class="fa fa-circle text-warning mr-xs"></i>
                    <span class="label-name">Espera</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle text-gray mr-xs"></i>
                    <span class="label-name">Terminado</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle text-danger mr-xs"></i>
                    <span class="label-name">Alerta</span>
                </a>
            </li>
        </ul>
        <h5 class="sidebar-nav-title">Recientes</h5>
        <!-- A place for sidebar notifications & alerts -->
        <div class="sidebar-alerts">
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Sales Report</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
                </div>
                <small>Calculating x-axis bias... 65%</small>
            </div>
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
                </div>
                <small>Provide required notes</small>
            </div>
        </div>
    </div>
