<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
    <title>{% block titulo %} {% endblock  %}</title>
    <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="app">
    <meta name="author" content="Telefonica Global Solution">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block extra_head  %}  {% endblock %}      
    </head>

    <body >
    {% block body_block %} {% endblock  %}        
    </body>
</html>
