  <main id="content" class="content" role="main">
    <div class="row">
      <div class="col-md-12">
        <section class="widget">
          <header>
            <h4>
              CONSULTA DE :
              <small>Llamadas</small>
            </h4>
            <div class="widget-controls">
              <a href="#" title="Expand" data-widgster="expand" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
              <a href="#" title="Collapse" data-widgster="collapse"><i class="glyphicon glyphicon-chevron-down"></i></a>
              <a href="#" title="Close" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
          </header>
           
          <div class="widget-body">
           <div class="row"> 
             <div class="col-md-4">
               <div class="form-group">
                 <label for="email" class="control-label col-sm-3">
                   Fecha Inicio
                 </label>
                 <div class="container">
                   <div class='col-md-2'>
                     <div class="form-group">
                       <div>
                        <input type="date" id="exampleInput" name="input" ng-model="example.value"
                        placeholder="yyyy-MM-dd" min="1999-01-01" max="2030-12-31" required />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
             <div class="form-group">
               <label for="email" class="control-label col-sm-3">
                 Fecha Final
               </label>
               <div class="container">
                 <div class='col-md-2'>
                   <div class="form-group">
                    <div>
                      <input type="date" id="exampleInput2" name="input2" ng-model="example.value2"
                      placeholder="yyyy-MM-dd" min="1999-01-01" max="2030-12-31" required />
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>                   
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="number" class="control-label col-sm-3">
                  Número Origen
                </label>
                <div class="col-sm-9">
                  <input type="text" required="required" ng-model="searchText"></ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="range" class="control-label col-sm-3">
                  Número Destino
                </label>
                <div class="col-sm-9">
                 <input type="text" required="required" ng-model="searchText"></ul>
               </div>
             </div>                    
            </div>

            <div class="col-md-4">
              <button type="button" class="btn btn-primary">Buscar</button>
              <button type="button" class="btn btn-danger">Exportar xls </button> 
            </div>
        </div>
        <div ng-controller="queryLLamada" >                        
          <table ng-table="tableParams"  class="table table-bordered table-hover" width="100%"  border="0" cellspacing="0" cellpadding="0" style="font-size:11px">
            <tbody>
              <tr>
                <th class="Items" >  <a ng-click="sort_by('Items')">Items <i class="fa fa-sort"></i></a></th>    
                <th class="Items" >  <a ng-click="sort_by('Items')">Fecha <i class="fa fa-sort"></i></a></th>    
                <th class="Orig.Telefono">  <a ng-click="sort_by('Orig.Telefono')">Orig.Telefono <i class="fa fa-sort"></i></a></th>   
                <th class="Dest.Telefono">  <a ng-click="sort_by('Dest.Telefono')">Dest.Telefono <i class="fa fa-sort"></i></a></th>   
                <th class="Orig.Ruta"  title="non-sortable" > Orig.Ruta <i class="fa fa-sort"></i></a></th>   
                <th class="Orig.Carrier">  <a ng-click="sort_by('Orig.Carrier')">Orig.Carrier <i class="fa fa-sort"></i></a></th>   
                <th class="Orig.Pais" ><a ng-click="sort_by('Orig.Pais')">Orig.Pais<i class="fa fa-sort"></i></a></th>   
                <th class="Dest.Ruta"> <a ng-click="sort_by('Dest.Ruta')">Dest.Ruta <i class="fa fa-sort"></i></a></th>   
                <th class="Dest.Carrier"> <a ng-click="sort_by('Dest.Carrier')">Dest.Carrier <i class="fa fa-sort"></i></a></th>   
                <th class="Dest.Pais"> <a ng-click="sort_by('Dest.Pais')">Dest.Pais <i class="fa fa-sort"></i></a></th>
                <th class="Orig.Area" ><a ng-click="sort_by('Orig.Area')">Orig.Area <i class="fa fa-sort"></i></a></th>   
                <th class="Dest.Area" ><a ng-click="sort_by('Dest.Area')">Dest.Area <i class="fa fa-sort"></i></a></th>   
                <th class="Segundos" ><a ng-click="sort_by('Segundos')">Segundos <i class="fa fa-sort"></i></a></th>
              </tr>
            </tbody>
            <tbody>
              <tr ng-repeat="tasacion in $data">
                <td>{{ $index + 1 }}</td>
                <td>{{ tasacion.Fechahora }}</td>
                <td>{{ tasacion.Numeroorigen }}</td>
                <td>{{ tasacion.Numerodestino }}</td>
                <td>{{ tasacion.Rutaentradaa }}</td>
                <td>{{ tasacion.Ruen_operadoraa }}</td>
                <td>{{ tasacion.Nuor_paisa }}</td>
                <td>{{ tasacion.Rutasalidaa }}</td>
                <td>{{ tasacion.Ruta_operadoraa }}</td>
                <td>{{ tasacion.Nude_paisa }}</td>
                <td>{{ tasacion.Nuor_ciudada }}</td>
                <td>{{ tasacion.Nude_ciudada }}</td>
                <td>{{ tasacion.Segundos }}</td>                   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
      </section>
    </div>
  </div>
</main>
