 <!--Librerias anexadas -->
  <main id="content" class="content" role="main">
      <section class="widget">
            <header>
                  <h4>
                      Analisis de Destino de Riesgo
                      <small>...</small>
                  </h4>
                        <div class="widget-controls">
                            <a href="" title="Expand" data-widgster="expand" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="" title="Collapse" data-widgster="collapse"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="" title="Close" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
            </header>
        <div class="widget-body">
              <div ng-controller="riskcabLists" >
               <table class="table table-hover" class="table-responsive" width="100%"  border="0" cellspacing="0" cellpadding="0" style="font-size:9px" >
                <thead>
                <tr>
                    <td><strong>Numero</strong></td>
                    <td><strong>Destino de Riesgo</strong></td>
                    <td><strong>Avg</strong></td>
                    <td><strong>Tráfico Día</strong></td>
                    <td><strong>Rumbo Umbral</strong></td>
                    <td><strong>Ratio Ayer</strong></td>
                    <td><strong>Promo. Dias Anterior</strong></td>
                    <td><strong>Ratio Dias Anterior</strong></td>
                    <td><strong>Promo Dias Similares</strong></td>
                    <td><strong>Ratio  Dias Similares</strong></td>
                    <td><strong>Desv. Dias Anterior</strong></td>
                    <td><strong>Ind. Desv Dias</strong></td>
                    </tr>
                  </thead>
                 <tbody>   
                 <tr ng-repeat="tasacion in names"> 
                   <td>{{ $index + 1 }}</td>
                   <td>{{ tasacion.Cod_pais_carrier }}</td>
                   <td>{{ tasacion. Ind_avg_xdp_minutos}} </td>
                   <td>{{ tasacion.Dia_minutos}}</td>
                   <td>{{ tasacion.Ind_umb_minutos }}</td>
                   <td>{{ tasacion.Avg_xda_minutos }}</td>
                   <td>{{ tasacion.Ind_avg_xda_minutos }}</td>
                   <td>{{ tasacion.Avg_xdp_minutos }}</td>
                   <td>{{ tasacion.Ind_avg_xdp_minutos }}</td>
                   <td>{{ tasacion.Dst_xda_minutos}}</td>
                   <td>{{ tasacion.Ind_dst_xda_minutos }}</td>
                   <td>{{ tasacion.Dst_xdp_minutos}}</td>
                   <td>{{ tasacion.Ind_dst_xdp_minutos}}</td>
                   <td>{{ tasacion.Dst_xdp_minutos}}</td>
                   <td>{{ tasacion.Ind_dst_xdp_minutos}}</td>
                   <td>  <button type="button" class="btn btn-default btn-xs">
                          <span class=".glyphicon .glyphicon-search"></span> Ver
                    </button></td>

                 </tr>
                </tbody>               
              </table>
               </div>
            
              </section>
                <section class="widget">
                 <div class="row">
                  <ul class="nav nav-pills">
                      <li class="active"><a href="#">Reportes</a></li>
                      <li><a href="">15 Días</a></li>
                      <li><a href="">24 horas</a></li>
                    <li><a href="">Exportación</a></li>
                  </ul>           
                 <div>
               </section>
                 </div> 
   </main>
