  <main id="content" class="content" role="main">
  <div class="row">
  <div class="col-md-12">
        <section class="widget">
            <header>
                  <h4>
                      CONSULTA DE :
                      <small>Llamadas</small>
                  </h4>
                        <div class="widget-controls">
                            <a href="#" title="Expand" data-widgster="expand" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="#" title="Collapse" data-widgster="collapse"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" title="Close" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
              </header>
            <div class="widget-body">
                                              <div class="row"> 
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email" class="control-label col-sm-3">
                                            Fecha 
                                        </label>
                                              <div class="col-sm-9">
                                            <input type="text" required="required" data-parsley-type="number" class="form-control" name="number" id="number" data-parsley-id="1540"><ul class="parsley-errors-list" id="parsley-id-1540"></ul>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="number" class="control-label col-sm-3">
                                            Número Origen
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" required="required" data-parsley-type="number" class="form-control" name="number" id="number" data-parsley-id="1540"><ul class="parsley-errors-list" id="parsley-id-1540"></ul>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="range" class="control-label col-sm-3">
                                            Número Destino
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" required="required" data-parsley-validation-threshold="1" data-parsley-trigger="change" data-parsley-range="[10, 100]" name="range" id="range" class="form-control" data-parsley-id="9806"><ul class="parsley-errors-list" id="parsley-id-9806"></ul>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
              {% verbatim %}
              <div ng-controller="serviciosEspecialesList">
               <table class="table table-hover" >
                <thead>
                <tr>
                    <td><strong>Items</strong></td>
                    <td><strong>Orig.Telefono</strong></td>
                    <td><strong>Dest.Telefono</strong></td>
                    <td><strong>Orig.Ruta</strong></td>
                    <td><strong>Orig.Carrier</strong></td>
                    <td><strong>Orig.Pais</strong></td>
                    <td><strong>Dest.Ruta</strong></td>
                    <td><strong>Dest.Carrier</strong></td>
                    <td><strong>Dest.Pais</strong></td>
                    <td><strong>Orig.Area</strong></td>
                    <td><strong>Dest.Area</strong></td>
                    <td><strong>Segundos</strong></td>
                  </tr>
                  </thead>
                 <tbody>        

                 <tr ng-repeat="serviciosEspeciales in names">         
                      <td>{{ $index + 1 }}</td>
                      <td>{{ serviciosEspeciales.Numero }}</td>
                      <td>{{ serviciosEspeciales.Pais }}</td>
                      <td>{{ serviciosEspeciales.TipoDestino }}</td>
                      <td>{{ serviciosEspeciales.Servicio }}</td>
                      <td>{{ serviciosEspeciales.Operador }}</td>
                      <td>{{ serviciosEspeciales.FechaInicio }}</td>
                      <td>{{ serviciosEspeciales.FechaFinal }}</td>
                      <td><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> </button></td>
                      <td><button type="button" class="btn btn-danger"><i class=" glyphicon glyphicon-remove"></i> </button> </td>
                  </td>
                 </tr>

                </tbody>               
              </table>
               </div>
              </div> 
                    <div class="align-center">
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

        
      </div>
              </section>
      </div>
  </div>



 </main>
