{% extends "base.html" %}

{% block content %}
   {% verbatim %}
  <main id="content" class="content" role="main">
  <div class="row" >
      <div class="col-md-6">
        <section class="widget">
            <header>
                  <h4>
                      Mantenimiento
                      <small>PAÍS</small>
                  </h4>
                        <div class="widget-controls">
                            <a href="#" title="Expand" data-widgster="expand" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="#" title="Collapse" data-widgster="collapse"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" title="Close" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
              </header>
            <div class="widget-body">

               <div ng-controller="paisesList">
               <table class="table table-hover" >
                <thead>
                <tr>
                    <td><strong>Items</strong></td>
                    <td><strong>Codigo</strong></td>
                    <td><strong>Descripción</strong></td>
                    <td><strong>Discado</strong></td>
                    <td><strong>Observación</strong></td>
                    <td><strong>Flg</strong></td>
                    <td><strong>Estado</strong></td>
                  </tr>
                  </thead>
                 <tbody>
                      <tr ng-repeat="names in list">         
                      <td  class="col-md-5">{{ $index + 1 }}</td>
                      <td class="col-md-5">{{ names.Codigo }}</td>
                      <td class="col-md-5">{{ names.Descripcion }}</td>
                      <td class="col-md-5">{{ names.Discado }}</td>
                      <td class="col-md-5">{{ names.Observacion }}</td>
                      <td class="col-md-5">{{ names.Flg }}</td>
                      <td class="col-md-5"><button ng-click="update(paises.id)" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> </button></td>
                      <td class="col-md-5"><button type="button" ng-click="delete(paises.id)"class="btn btn-danger"><i class=" glyphicon glyphicon-remove"></i> </button> </td>
                  </td>
                 </tr>

                </tbody>               
              </table>
               </div>
              </div> 
              </section>
      </div>

  {% endverbatim %}
     
         <div class="col-md-6" ng-controller="pais">
                <section class="widget">
                  <header>
                        <h5>
                            Entrada
                        </h5>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>

                    <form class="form-horizontal" role="form">
                    <div class="widget-body">
                        <form novalidate="" data-parsley-priority-enabled="false"  class="form-horizontal form-label-left">
                            <fieldset>
                                    <div class="form-group">
                                        <label for="email" class="control-label col-sm-3">
                                            Codigo
                                        </label>
                                            <div class="col-sm-9">
                                              <input type="text" required="required" class="form-control" id="Codigo" ng-model="paises.Codigo">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="number" class="control-label col-sm-3">
                                            Descripción
                                        </label>
                                            <div class="col-sm-9">
                                              <input type="text" required="required" class="form-control" id="Descripcion" ng-model="paises.Descripcion">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="range" class="control-label col-sm-3">
                                            Imagen
                                        </label>
                                        <div class="col-sm-9">
                                           <input type="file" ng-model="paises.Imagen" id="Imagen">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="range" class="control-label col-sm-3">
                                            Discado
                                        </label>
                                          <div class="col-sm-9">
                                            <input type="text" required="required" class="form-control" id="Discado" ng-model="paises.Discado">

                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="range" class="control-label col-sm-3">
                                            Observación
                                        </label>
                                          <div class="col-sm-9">
                                            <input type="text" required="required" class="form-control" id="Observacion" ng-model="paises.Observacion">
                                          </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="range" class="control-label col-sm-3">
                                            Estado
                                        </label>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" value="" ng-model="paises.Flg"> 
                                          </label>
                                        </div>
                                    </div>
                            </fieldset>

                            <div class="form-actions">
                              <!--  <button class="btn btn-danger btn-rounded pull-right" type="submit" ng-click="">Guardar </button> -->
                                      <div class="form-group">
                                          <button class="btn btn-default" ng-click="new()">Guardar </button>
                                      </div>
                              <a ng-click="new()" class="btn btn-small btn-primary">Nuevo</a>
                                <a ng-click="cancel()" class="btn btn-small btn-primary">Cancelar</a>
                                <button class="btn btn-default btn-rounded" type="button">Limpiar</button>
                            </div>
                        </form>
                    </div>
                    </form>
                </section>
            </div>
    
  </div>

  </main>
  {% endblock %}  